<div class="container">
  <h2 class="mt-3">Есть три вещи, которые делают человека счастливым</h2>
  <hr>
  <div class="row mt-5">
    <div class="col-md-4">
      <dl>
        <dt><h5><a [routerLink]="'/love'">Любовь</a></h5></dt>
        <dd>
          Любовь - это самое сильное чувство, которое может возвысить до небес или уничтожить без следа. Это люди, которые бесконечно дороги, без которых не представляешь свою жизнь, о которых хочется заботиться и делать их счастливыми, ведь это смысл нашей жизни.
        </dd>
        <hr>
        <dt><h5><a [routerLink]="'/work'">Любимая работа</a></h5></dt>
        <dd>
          На мой взгляд работа должна быть интересной, приносящей удовольствие от процесса, от результата. Это должно быть искреннее увлечение каким-то делом. Только тогда будут и высокие зарплаты и хорошее настроение.
        </dd>
        <hr>
        <dt><h5><a [routerLink]="'/travel'">Путешествия</a></h5></dt>
        <dd>
          Ну, и на последок! Когда есть и любовь и любимя работа, можно иногда расслабиться и отправиться в путешествие. Наслаждаться видами и местной культурой, знакомиться с новыми людьми. Пробовать изыски местной кухни или просто уединиться в тихом укромном местечке. Что может быть лучше для отдыха от повседневной рутины?!
        </dd>
      </dl>      
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
